<h1 class="text-center OpenSans page-title">About <span class="app-title">Creta</span></h1>
<p><span class="app-title">Creta</span> is a blogging platform that strives to preserve simplicity above all else.</p>
<p>It provides you the bare minimum in tools that are needed to establish a social, blogging presence that is both empowering and respectable.</p>