<h1 class="text-center OpenSans page-title">Contact <span class="app-title">Creta</span></h1>
<p><span class="app-title">Creta</span> is an open source project that can be viewed at <%= link_to "", "https://github.com/Sachaniman/Creta", class: "fa fa-github-square" %>.</p>
<p>Comments, bugs, errors and the like can be reported to sachan.ganesh@gmail.com.</p>