<% unless user_signed_in? %>
	<h1 class="text-center Oxygen">Blogging done right. No more games.</h1>
	<div class="entry-options">
		<p>Your first post is waiting to be written...</p>
	</div>
<% else %>
	<h1 class="text-center Oxygen">Welcome to <span class="app-title">Creta</span>.</h1>
	<div class="entry-write!">
		<p class="OpenSans">Write an article!</p>
		<p class="OpenSans"><%= link_to "Your Articles", articles_path, class: "btn btn-primary" %></p>
	</div>
<% end %>