// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.entry-options {
	padding-top: 15rem;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15rem;
}

div.entry-options p {
	text-align: center;
	font-size: 2.5rem;
}

.fa-github-square,
.fa-github-square:hover,
.fa-github-square:focus {
	font-size: 4rem;
	color: #BF2424;
}