<div class="row">
	<div class="panel callout radius text-center col-md-4 col-md-offset-4">
	  <p>Why don't you contribute? We'd love for you to join us.</p>
	  <p><%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %></p>
	</div>
</div>